.cheat-sheet-viewer {

  .cover {
    width: 100%;
    height: auto;
    min-height: 200px;
  }

  .pre-line {
    white-space: pre-line;
  }

  .snackbar {
    visibility: hidden;
    min-width: 150px;
    margin-left: -125px;
    background-color:darkorange;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 8px;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 30px;
    font-size: 18px;
  }
  
  .snackbar.show {
    visibility: visible;
    // total animation length 2 seconds
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    // total animation length 2 seconds
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

}

.masonry {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 20px;
  column-fill: auto;

  .grid-item {
    display: block;
    padding: 0px;
    // margin-top: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
    min-height: 200px;
    width: 100%;
    height: auto;
  }

  .grid-item a {
    text-decoration: underline;
  }

  pre {
    font-size: 14px;
  }

  @media screen and (max-width: 992px) {
    column-count: 2;
    column-gap: 20px;
  }
  
  @media screen and (max-width: 576px) {
    column-count: 1;
    column-gap: 0px;
  }

}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #CCC;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  font-size: 16px;
  padding-bottom: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &.zoom {
    transition: transform .2s; /* Animation */
  }

  &.zoom:hover {
    box-shadow: 0 4px 4px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    transform: translateX(-4px);
  }

  p:nth-child(odd) {
    background: #F5F5F5;
  }

  @media screen and (max-width: 992px) {
    margin: 10px 0;
  }
  
}

.card-title {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #09192B;
  color: #fff;
  font-size: 18px;

  span {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
  }

  span:first-child {
    background-color: blueviolet;
  }

  span:last-child {
    margin-right: 0;
  }

  span.pi-copy:hover {
    cursor: copy;
    background-color:darkorange;
  }

  @media screen and (max-width: 992px) {
    font-size: 16px;
  }
  
}
