.code-editor {

  .tools {
    min-width: 56px;
  }

  .terminal-panel {
    padding: 20px;
    background-color: #0d3c61;

    .typist-header {
      color: #C2F4FF;
      font-size: 18px;
    }

    .typist-line {
      display: inline-block;
      padding: 0px 0px;
      margin-bottom: 0;
      line-height: 1.5;
    }
  }

  .Typist .Cursor {
    padding: 0 4px;
    color: #00FF00;
  }

  .reference-panel {
    overflow-y: scroll;

    h1 {
      text-decoration: underline;
    }

    p {
      color: #444;
      font-size: 16px;
    }

    p > a {
      text-decoration: underline;
      padding: 0 20px;
    }

    p > img {
      width: 480px;
      height: auto;
      margin: 0 auto;
      display: block;
    }

    blockquote {
      margin: 20px 12px;
      padding: 8px;
      border-radius: 4px;
      background-color: #F5F5DC;
      border-left: 4px solid #d06900;
    }

    ul {
      li {
        font-size: 15px;
        padding-bottom: 8px;
        color: #008074;
      }
    }
  }

}