.home {
  padding-bottom: 4rem;

  p {
    margin-bottom: 2rem;
  }

}


.hero {
  height: 360px;
  background-image: url('../images/home/arduino_hack.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 30px 60px 50px;
  position: relative;

  .intro-title {
      font-weight: 400;
      margin-bottom: 12px;
      font-size: 24px;
  }

  .intro-subtitle {
      font-weight: 700;
      margin-bottom: 40px;
      margin-top: 0;
      font-size: 24px;
  }

  @media (max-width: 576px) {
    padding-top: 100px;
  }

}

.action-button {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #ffffff !important;
  background-color: #fe8702;
  padding: 12px 24px 12px 24px;
  border-radius: 6px;
  transition: background-color .2s;

  &:hover {
      background-color: #c56a05;
      color: #ffffff;
  }
}

.action-button.in-card {
  font-size: 16px;
  padding: 8px 18px 8px 18px;
  border-radius: 3px;
}


.features {
  // background-color: var(--surface-b);
  text-align: center;
  padding-top: 2rem;

  .p-col-12 {
      padding: 1rem;
  }

  .feature-card {
      background-color: var(--surface-e);
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      height: 100%;
      border-radius: 3px;

      .feature-card-detail {
          padding: 0 2rem;
      }

      p {
          margin-bottom: 0;
      }
  }

  img {
      width: 100%;
  }

  .feature-name {
      font-weight: 700;
      font-size: 16px;
      margin: 1rem 0;
      display: inline-block;
  }
}
