.project {

  max-width: 768px;
  margin: 0 auto;

  .editor-grid {
    display: grid;
    grid-template-columns: auto 60px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .description {
    margin: 4px 8px 8px;
    height: 50px;
  }

  .tags {
    line-height: 20px;
  }

  .tag {
    padding: 2px 10px 4px 10px;
    background-color: var(--pink-500);
    color: white;
    border-radius: 16px;
    margin-right: 10px;
  }

  .blue-round-panel {
    border-color: var(--blue-500);
    border-radius: var(--border-radius);
    background-color: var(--indigo-50);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }

  .relative-alien {
    position: relative;
    bottom: -6px;
  }

  .intro-area {

    .right-part {
      display: flex;
      align-items: flex-end;
    }

  }

  .content-area {
    border-width: 1px;
    border-style: solid;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    height: 400px;
    padding: 0;
  }

  .content-area.dark {
    background-color: #000;
  }

  .content-area.light {
    background-color: #fff;
  }

  .result-area {

    height: 240px;

    // border-width: 1px;
    .bottom-row {
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
    }

    .left-part {
      flex: 1;
      padding: 0.5rem 1rem;
    }

    .right-part {
      width: 120px;
    }
  }

  .actions {
    padding-top: 10px;
    margin-bottom: 4px;
  }

  .action-fun {
    padding: 4px 10px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 10px;
    border-left-width: 6px;
    border-left-style: solid;
  }

  .action-fun.orange, .action-fun.var-0 {
    background-color: var(--orange-200);
    border-left-color: var(--orange-600);
    color: var(--orange-900);
  }

  .action-fun.pink, .action-fun.var-1 {
    background-color: var(--pink-200);
    border-left-color: var(--pink-600);
    color: var(--pink-900);
  }

  .action-fun.green, .action-fun.var-2 {
    background-color: var(--green-200);
    border-left-color: var(--green-600);
    color: var(--green-900);
  }

  .action-fun.blue, .action-fun.var-3 {
    background-color: var(--blue-200);
    border-left-color: var(--blue-600);
    color: var(--bule-900);
  }

  .action-fun.cyan, .action-fun.var-4 {
    background-color: var(--cyan-200);
    border-left-color: var(--cyan-600);
    color: var(--cyan-900);
  }

  .center-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .go-btn {
    display: flex;
    align-items: center;

    background-color: white;
    border: 2px solid var(--blue-100);
    color: var(--blue-600);
    
    width: 70px;
    height: 70px;
    border-radius: 50%;

    transition-duration: 0.4s;

    &:hover:not([disabled]) {
      background-color: var(--blue-600);
      color: white;
      cursor: pointer;
    }

    &:disabled {
      color: #eee;
    }

    span {
      padding: 2px;
      display: block;
    }
  }

  .flex-space-between {
    display: flex;
    justify-content: space-between;
  }

  .full-height {
    height: 100%;
  }

  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #333333;
  }

  .phaser-game-container {
    width: 600px;
    height: 204px;
  }

  .mt-2px {
    margin-top: 2px;
  }

}