@charset 'UTF-8';

@import './core';
@import './home';
@import './project';

.app {
    min-height: 100vh;
}

.layout-main-container {
    padding-right: 4rem;
}

.layout-main {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

