@charset 'UTF-8';

@import './buttons';
@import './core';
@import './home';
@import './hero';
@import './project';
@import './profile';
@import './donation';
@import './contact';
@import './editor';
@import './cheatsheet';
@import './disclosure';


// ***** site level style definition *****

.app {
  min-height: 100vh;
}

.layout-main-container {
  padding-right: 4rem;
}

.layout-main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.p-steps .p-steps-item .p-menuitem-link {
  background: none;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  background-color: var(--teal-500);
  color: white;
}

.hidden {
  display: none;
}

.transition-pt5 {
  transition: 0.4s ease-in;
}

.button-group {
  .p-button {
    font-size: 1.5rem;
    padding: .75rem 1.5rem;
    background-color: #6366F1;
    border: 1px solid #6366F1;
  }

  .p-button:hover {
    background-color: #4C4CDC;
    border: 1px solid #4C4CDC;
  }
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 237, 247, 0.9);
  text-align: center;
  padding-top: 10%;

  .snippet-img {
    height: 480px;
    width: auto;
  }
}

.border-left-6 {
  border-left-width: 6px;
  border-left-style: solid;
}

.notfound-background {
  background-image: url('../images/home/undraw_Page_not_found_re_e9o6.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  width: 100%;

  @media screen and (max-width: 576px) {
    height: 600px;
    background-color: white;
  }
}