/* General */
$fontSize:1rem;
$borderRadius:12px;
$transitionDuration:.2s;
$maskBg:rgba(0, 0, 0, 0.4);


// Colors
$color-gray-50:  #f6f7f9 !default;
$color-gray-100: #e5e7eb !default;
$color-gray-200: #d1d5db !default;
$color-gray-300: #868f9d !default;
$color-gray-400: #6b7280 !default;
$color-gray-500: #4b5563 !default;
$color-gray-600: #2f3845 !default;
$color-gray-700: #1f2937 !default;
$color-gray-800: #18202a !default;
$color-gray-900: #121920 !default;
$color-accent:   #d8195e !default;
